{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <main>
        <h1>A toi de jouer, propose une séance !</h1>

        {{ form_start(form) }} 
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Valider</button>

        {{ form_end(form) }}

    </main>
{% endblock %}