{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_event_create.css')}}">
{% endblock %}

{% block body %}

    <div class="w-75 mx-auto">
        {% include "shared/_messages_flash.html.twig" %}
    </div>

    <main>
        <h1>A toi de jouer, propose une séance !</h1>

        {{ form_start(form) }} 
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Valider</button>

        {{ form_end(form) }}

    </main>
{% endblock %}