{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_registerForm.css')}}">
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto">
        {% include "shared/_messages_flash.html.twig" %}
    </div>

    <main>
        <h1>Inscris-toi et rencontre d'autres musiciens près de chez toi !</h1>

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn btn-primary">Je m'inscris</button>
        {{ form_end(registrationForm) }}

    </main>
{% endblock %}
