/*-----------------------------------------MAIN----------------------------------------------*/

main {
  display: flex;
  position: relative;
}
/*---------------------------------------------SECTION ARTICLES------------------------------------------------------*/

section {
  width: 80%;
  margin: 0 auto;
}

section h2 {
  margin: 20px 0;
}

article {
  width: 100%;
  margin: 0 auto 20px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}

.top div,
.bas div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.boutons {
  margin-top: 20px;
}

article i {
  opacity: 0.85;
}

/*-------------------------------------------MOBILE RESPONSIVE--------------------------------------------------*/

@media screen and (max-width: 768px) {
  section article {
    padding: 10px;
  }

  .top {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .gauche div,
  .bas div {
    flex-direction: column;
    align-items: flex-start;
  }

  .droite h6 {
    margin-bottom: 0;
  }

  .droite div {
    display: flex;
  }

  .droite img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .message {
    margin-top: 20px;
  }

  .boutons button {
    width: 100%;
    margin-bottom: 10px;
  }
}
