main {
  width: 80%;
  margin: 50px auto;
}

.button-back {
  margin-bottom: 20px;
}

.button-back:hover {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: inherit;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
