/*--------------------------------------------MAIN------------------------------------------------------*/

main {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 50px rgb(87, 87, 87);
  width: 60%;
  height: 100%;
  margin: 50px auto;
}

h1 {
  background-color: rgb(74, 0, 170);
  color: rgb(243, 243, 243);
  font-size: 1.4em;
  padding: 40px;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

/*--------------------------------------------FORM-------------------------------------------------*/

form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-error-icon {
  color: red;
}

input {
  margin-bottom: 20px;
}

form .btn-primary {
  margin: 40px auto 0;
  width: 150px;
}

form .update {
  width: 250px;
}

main a {
  color: rgb(74, 0, 170);
  font-weight: bold;
}

main a:hover {
  color: rgb(111, 27, 221);
}

/*-----------------------------------------------MOBILE RESPONSIVE------------------------------------------------*/

@media screen and (max-width: 768px) {
  main {
    width: 80%;
  }
}
