/*------------------------------------DIV BANNER--------------------------------------*/

.banner {
  height: 550px;
  background: url("../images/musicians-690591_1920.jpg") no-repeat right/cover;
}

.banner .top {
  height: 100%;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titre {
  color: rgb(243, 243, 243);
  margin-bottom: 40px;
  width: 80%;
  padding: 0 10px;
}

h1 {
  font-size: 2.8em;
}
/* ------------------------------------------MOBILE RESPONSIVE---------------------------------------------- */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}
