{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_private_space.css')}}">
{% endblock %}

{% block body %}
    <div class="flash">
        {% include "shared/_messages_flash.html.twig" %}
    </div>

    <main>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3>Séances</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-sm" href="{{path('admin_event_list')}}">Gérer les séances</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3>Utilisateurs</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-sm" href="{{path('admin_user_list')}}">Gérer les utilisateurs</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
