{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_home.css')}}">
{% endblock %}

{% block body %}

  <div class="flash home">
    {% include "shared/_messages_flash.html.twig" %}
  </div>

  <div class="banner">
    <div class="top">
      <div id="titre">
        <h1>Joue avec d'autres musiciens près de chez toi</h1>
        <h5>Rencontrer, partager, pour mieux progresser</h5>
      </div>
    </div>
  </div>

{% endblock %}