<div class="participants">
    {% if replys | length > 0 %}
        <h6 class="m-0 me-2 mb-3 p-0">Ils participeront :</h6>
        <ul class="d-flex">
            {% for r in replys %}
                <li class="me-5 d-flex flex-column align-items-center">
                    <img 
                        class="button avatar"
                        {% if r.user.avatar is not same as null %}
                            src="{{r.user.avatar}}"
                        {% else %}
                            src="{{asset('images/default-avatar.jpg')}}"
                        {% endif %}
                        alt="photo"
                    >
                    <p>{{r.user.firstName}}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h6>Aucun participant pour le moment</h6>
    {% endif %}
</div>
