<footer>
    <div class="first-div">
        <h4>Symfonic Team</h4>
        <p>
            <span>Symfonic Team</span> est une plateforme totalement gratuite
            destinée aux musiciens et musiciennes qui cherchent à se rencontrer et
            jouer ensemble.<br />Cette plateforme s'adresse à tous les
            passionné(e)s de musique, quelque soit l'instrument joué et le niveau
            de maîtrise.<br />Inscris-toi gratuitement et trouve près de chez toi
            d'autres musiciens avec qui partager ta passion !
        </p>
    </div>
    <div class="last-div">
        <h4>Liens utiles</h4>
        <ul>        
            <li>
                <a href="{{path('app_login')}}">Se connecter</a>
            </li>
            <li>
                <a href="{{path('app_register')}}">S'inscrire</a>
            </li>
            <li>
                <a href="{{path('legal_notice')}}">Mentions légales</a>
            </li>
        </ul>
        <ul>
            <li>&lt; Développé par <a href="https://www.linkedin.com/in/caroline-roy-web-developer" target="_blank"><span><u>Caroline Roy</u></span> &gt;</a></li>
        </ul>
    </div>
</footer>