<div class="modal" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Es-tu sûr de vouloir supprimer cette séance ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Attention, cette action est irréversible !</p>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Non, je garde cette séance</button>
        <a class="btn btn-danger" href="{{ path('event_delete',{'id' : id }) }}">Oui, je supprime cette séance</a>
      </div>
    </div>
  </div>
</div>