{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_event_list.css')}}">
{% endblock %}

{% block body %}

  <div class="flash">
      {% include "shared/_messages_flash.html.twig" %}
  </div>

  <main>
    <section>

      <a href="{{path('user_participate_list')}}" class="btn btn-light button-back">
        <i class="fas fa-angle-double-left"></i> Retour
      </a>

      <article>
        {% include "shared/_event_description.html.twig" with {'event' : event} %}
        <hr>

        {% include "shared/_event_participants.html.twig" with {'replys' : participants} %}
        <hr>

        <div class="comments">
            <h4>Conversation à propos de cette séance :</h4>
            {% include "shared/_conversation_form.html.twig" with {'form' : form} %}
            <hr>
            {% include "shared/_conversation.html.twig" with {'allComments' : allComments, 'comments' : comments} %}
        </div>

        <hr>

        <div class="boutons">
          <button class="btn btn-dark" id="js-openModalDelete">
              <i class="fas fa-trash-alt"></i> Je n'irai pas
          </button>
        </div>
      </article>

      <a href="{{path('user_participate_list')}}" class="btn btn-light button-back">
        <i class="fas fa-angle-double-left"></i> Retour
      </a>
      
    </section>
  </main>

  {% include "shared/_modal/_delete_participate.html.twig" with {'id' : reply.id } %}

{% endblock %}

{% block javascripts %}
    <script src={{asset('js/deleteModal.js')}}></script>
{% endblock %}
